body {
  background-image: url("MarioBG.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

h1 {
text-align:center;
}

.header {
background-color: rgba(255,255,255,.7);

height:100px;
border:2px solid red;
border-radius:15px;
margin:0 0 2px 0;
padding: -20px 0 0 0;
}

.nav {
background-color: rgba(255,255,255,.7);

float:left;
position:relative;
height:400px;
border:2px solid green;
border-radius:15px;
margin:0 0 2px 0;
}

.main {
background-color: rgba(255,255,255,.7);

height:400px;
border:2px solid blue;
border-radius:15px;

margin:0 0 2px 230px;
}
.footer {
background-color: rgba(255,255,255,.7);

height:100px;
border:2px solid yellow;
border-radius:15px;
}
#headliner {
font-size: 60px;
color: purple;
}
#pic {
margin:-20px 0 0 400px;
}
table {
margin:auto;
border:1px solid red;
}
td {
border:1px solid blue;
}
.marginpadding {
border:2px dashed green;
margin:10px;
padding:10px;
}